body {
    width: 1280px;
    height: 720px;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
}

nav {
    background: #000;
}

#menu a {
    color: #ffffff;
}

.active {
    background: #4d7dff;
    color: #ffffff;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
}

li {
    float: left;
    cursor: pointer;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}

img {
    padding: 14px 36px;
}