body {
    width: 1280px;
    height: 720px;
    margin: 0;
}

#menu {
    background: #000;
}

.active {
    background: #4d7dff;
    color: #ffffff;
}

#menu nav {
    width: 1280px;
    position: fixed;
    left: 0;
    top: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
    cursor: pointer;
    height: 50px;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}